// To Unlock KWallet automatically in a window manager
spawn-at-startup "/usr/lib/pam_kwallet_init"
spawn-at-startup "kwalletd6"
// To slove the problem that Dolphin cannot find applications (when running under another window manager)
// Make sure the pkg "archlinux-xdg-menu" is installed
spawn-sh-at-startup "XDG_MENU_PREFIX=arch- kbuildsycoca6 --noincremental"

// Use fcitx as chinese input method.
environment {
  GTK_IM_MODULE "fcitx"
  QT_IM_MODULE "fcitx"
  SDL_IM_MODULE "fcitx"
  XMODIFIERS "@im=fcitx"
  QT_IM_MODULES "wayland;fcitx"
}

// Make svn diff show more good-looking.
window-rule {
    match app-id="kdesvn" title="Diff Display"
    open-floating false
}

// Make wps works better.
window-rule {
    match app-id=r#"(?i)wps"# title="wps"
    open-floating true
}
